

.rowPosterContainer{
  width: 100%;
  margin-top: -280px;
  height: auto;
  display: flex;
  justify-content: center;
}
.home{
  background-color: rgb(215, 216, 216);
}
/* 
.divRow{
 
  background-color: #fff;
  margin: 1rem;
  height: 280px;
  float: left;
} */
/* 
.posters{
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
} */
/* 
.poster{
  max-height: 200px;
  margin-right: 10px;
  cursor: pointer;
}
 */
