.header {
    position: sticky;
    margin: 0;
    background-color: rgb(13, 13, 14);
    align-items: center;
    display: flex;
    color: aqua;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.logo img:hover {
    border: 1px solid white;
}

.search:focus {
    border: 2px solid rgb(230, 178, 68);
}

.category {
    background-color: aqua;
    margin-top: 50px;
    list-style: none;
}

.search input {
    width: 700px;
    height: 40px;
    border: none;
}

.search {
    display: flex;
}
.dropdown:hover{
 background-color: rgb(186, 185, 185);
}

.dropdown {
    color: rgb(157, 136, 136);
    background-color: whitesmoke;
    width: 50px;
    display: flex;
    height: 40px;
    margin-top: 60px;
    cursor: pointer;
    border-right: 1px solid;
    justify-content: center;
    margin: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 2px;
    align-items: center;
    font-size: small;
}

.searchIcon {
    color: black;
    background-color: rgb(233, 178, 107);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;

    align-items: center;
    padding-bottom: 2px;
    cursor: pointer;
    margin: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.userIcon {
    color: rgb(242, 245, 248);


}

.searchIcon:hover {
    background-color: rgb(227, 159, 32);
}

.userIcon:hover {
    color: yellow;
    border: 1px solid white;
    padding: 10px;

}

.link:hover {
    border: 1px solid white;
    padding: 10px;

}

logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.link {
    color: azure;
    text-decoration: none;

}

.option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    display: flex;
    align-items: center;
    color: rgb(189, 226, 43);
    justify-content: center;
    display: flex;
}

.icon:hover {
    border: 1px solid white;
    padding: 10px;
}

.count {
    margin-left: 10px;
    margin-right: 10px;
}

/* Media query for tablets and smaller screens */
/* @media screen and (mac-width: 760px) {
    .header {
        flex-wrap: wrap;
        padding: 10px;
    }

    .logo img {
        margin-bottom: 10px;
    }

    .search input {
        width: 100%;
        max-width: 300px;
    }

    .search {
        flex-grow: 1;
        margin-right: 10px;
    }

    .dropdown {
        display: none;
    }

    .userIcon {
        margin-left: auto;
    }

    .option {
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
    }

    .count {
        display: none;
    }
} */