.header{
    position:sticky;
    margin: 0;
    background-color: rgb(18, 18, 50);
    align-items: center;
    display: flex;
    color: aqua;
    justify-content: space-between;  
}

.search{
  
    border: none;
    outline: auto;

}
.searchicon{
    color: black;
    background-color: rgb(231, 151, 47);
   width: 20px;
   cursor: pointer;
   border: none;
  
    margin: auto;
    border-radius: 1px;
    align-items: center;
    
}

.userIcon:hover{
    color:yellow;
    border-color:1px soild aliceblue;
    box-shadow: yellowgreen;
    box-sizing: border-box;
    size-adjust: auto;
}

.header logo{
    opacity: 50%;
}

.link{
    color: azure;
    text-decoration: none;
}
.option{
    display: flex;
    flex-direction: column;
    margin-left:10px ;
    margin-right: 10px;
}

.icon{
    display: flex;
    align-items: center;
    color: rgb(189, 226, 43);
    justify-content: center;
    display:flex ;
}

.count{
    margin-left: 10px;
    margin-right: 10px;
}

.search , .searchicon{
    display: flex;
    height: 30px;
   
    justify-content: space-between;


}
