/* .rating{
    display: flex;
} */

.cart{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image{
    object-fit: contain;
    width: 160px;
    height: 160px;
    border: 1px solid #d6c8c8;
}

.title{
    font-size: 16px;
    font-weight: 600;
}

.info{
    padding-left: 20px;
}

.info > button{
    padding-left: 20px;
    background-color: rgb(191, 143, 81);
    border: 1px solid;

    border-radius: 5px;
    border-color: rgb(22, 67, 52);
}