.checkout{
    display: flex;
    padding: 10px;
    background-color: aliceblue;
    height: max-content;
}

.title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.ad{
    width: 100%;
    margin: 10px;
}

